*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 60%;
  background: #b7999c;
  color: #18314f;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 3em 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 15px;
  line-height: 1;
}

h2 {
  margin-bottom: 3em;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 8px;
  /* color: #8bbeb2; */
}

h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(#18314f, 0.25);
  width: 20%;
  margin: 3em auto 0;
}

h2 a {
  color: #73eedc;
  /* color: #8bbeb2; */
  /* text-decoration: none; */
}

h2 a:hover {
  color: #18314f;
}

h3 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* color: #8bbeb2; */
}

@media (max-width: 550px) {
  h2 {
    margin-top: 3em;
  }
}
