body {
  background: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

main {
  margin: 3em 0 0 5em;
  /* display: flex; */
}

.typing > h1 {
  animation: type 3s steps(51), blink .5s infinite alternate;
  border-right: 3px solid white;
  display: inline-block;
  font-family: monospace;
  font-weight: 100;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 51ch;
  font-size: 1.5rem;
  vertical-align: middle;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* 
code {
  align-items: center;
  flex: 1;
  justify-content: center;
  width: 500px;
} */

.hljs-ln-numbers {
  text-align: right;
}

a {
  text-decoration-color: white;
}

a:hover {
  text-decoration-color: #61afef;
}

.orange {
  color: #d19a66;
}

.light-blue {
  color: #56b6c2;
}

/* .blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
} */